<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a 4th-year Ph.D. candidate student in the Machine Intelligence Lab at the Seoul National University. My primary research interests lie in the area of Text-to-Speech and Spoken Language Modeling, and more specifically, aligning different modalities for multimodal deep learning model.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
        </div>
    </section>
</div>
